<!-- {% load static %} после static "путь к файлу" -->
<!-- <link type="text/css" rel="stylesheet" href="{% static "goods/CSS/styles.css" %}">  
его прописывать в заголовке --> 
{% load category_tag %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <ul>
        {% if cat_selected == 0 or cat_selected is None %}
            <li class="selected">All categories</li>
        {% else %}
            <li><a href="{% url 'main_page' %}">All categories</a></li>
        {% endif %}
        <div>{% show_categories cat_selected %}</div>
    </ul>

    {% block content %} {% endblock %}
</body>
</html>